.product

  .slider
    text-align: center
    position: relative
    padding: 0

    .arrows
      width: 100%
      position: absolute
      top: 50%

      .arrowFlex
        width: 100%
        display: flex
        flex-direction: row
        justify-content: space-between

  .price
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center

    h3
      margin: 0 .5em 0 0

  .info
    .brand
      font-weight: bold
      a
        color: $secondary-color
        font-weight: normal
        &:hover
          text-decoration: underline

.basketArea
  margin-top: 1.87em
  display: flex
  flex-direction: row
  justify-content: center

.addToBasket
  background-color: $highlight
  color: #fff
  border: none
  padding: .2em 1.2em !important
  text-transform: uppercase
  transition: all 0.2s ease-in-out

  &:hover
    background-color: darken($highlight, 5%)
    box-shadow: 0 5px 15px $shadow

.quantity
  padding: 0
  margin-left: 1em
  p
    margin-top: 0
    margin-bottom: 0.5em
    font-weight: bold

input
  border: none !important
  border-radius: 5px !important
  border-style: solid !important
  border-color: $accent !important
  border-width: thin
  padding: .5em
  margin: 0
input:focus
  outline-width: 0
  border: 0
  padding: 0

  //
  //
  // @media screen and (max-width: $breakpoint-very-large)
  //   .col--1-of-3, .col--2-of-3
  //     width: 50%
  //
  //
  // @media screen and (max-width: $breakpoint-medium)
  //   .col--1-of-3, .col--2-of-3
  //     margin: 0 auto
  //
  //   .col--2-of-3
  //     width: 80%
  //
  // @media screen and (max-width: $breakpoint-small)
  //   .col--2-of-3
  //     .basketArea
  //       flex-direction: column
  //
  //       .quantity
  //         text-align: center
  //         p
  //           margin-top: 1em
