<div class="page-title">
    <h2>How it works</h2>
    <hr width="150px" />
</div>

<div class="container wrapper">

    <div class="step how-step">
        <h3>After you have picked out some items from our collections...</h3>
        <img src="../images/phase-one.png" class="how-image" />
    </div>

    <div class="step how-step">
        <h3>You will go through a checkout process…</h3>
        <img src="../images/pink-card.svg" class="how-image" />
        <p>
            At this point you are not charged for the items. Your order will be placed and we
            will gather the items, applying discounts, looking for sales, and making sure
            everything is good to go.
        </p>
    </div>

    <div class="step how-step" style="border-bottom: none !important;">
        <h3>Once we have everything gathered and the final price ready...</h3>
        <img src="../images/survey-icon.png" class="how-image" width="250px"/>
        <p>
            We will send you an invoice (less than 24 hours), where you can check all the
            items. If you are still satisfied with the price, simply pay and the items will be
            shipped straight to your front door.
        </p>
    </div>

    <div class="btn-wrapper align-center">
        <a href="#/store">
            <div class="btn">
                Shop
            </div>
        </a>
    </div>
</div>
